@include font-face("Gilroy", "../assets/fonts/gilroy/Gilroy-Regular");
@include font-face("Gilroy", "../assets/fonts/gilroy/Gilroy-Bold", 600);
@include font-face("Gilroy", "../assets/fonts/gilroy/Gilroy-Light", 100);

$blue-color: #6552FF;
$orange-color:#FDC641;

body, html,  {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  @include  respond-to (laptop) {
    font-size: 16px;
  }
  @include  respond-to (mobile) {
    font-size: 12px;
  }
}




.center {
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  border-radius: 8px;
  font-size:1.05em;
  padding:1.2em 1em;
  cursor:pointer;
  white-space:nowrap;
  &.orange {
    background-color: $orange-color;
    color:#2A1868;
  }
  &.blue {
    background-color: $blue-color;
    color:#fff;
  }

  &.white {
    background-color: #fff;
    color:#000;
    &.border {
      border: 1px solid $blue-color;
    }
  }

  &.shadow {
    &:hover {
      box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.1);
    }
  }
  &.wide {
    padding:1.2em 2em;
  }
}

.content {
  max-width:1440px;
  margin:0 auto;
  padding-left:128px;
}

section {
  h2 {
    color:#6552FF;
    font-size:2em;
    text-align:center;
    font-weight:600;
    margin:2em 0 0.5em;
    &.white {
      color:#fff;
    }
  }
  .subtitle {
    text-align: center;
    margin-bottom:2em;
  }
}


.flip-card {
  perspective: 1500px;
  position: relative;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  &:hover {
    z-index:100;
  }
  &:hover .inner {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .front {
    color: black;
  }
  .back {
    transform: rotateY(180deg);
  }
}
