footer {
  background-color: #252525;
  padding: 5% 10%;
  color:#fff;
  font-size:0.8em;
  display: flex;
  .col {

  }
  .about {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu {
    width: 15%;
  }
  .docs {
    width: 25%;
  }
  ul {
    li {
      line-height: 2.5em;
      cursor: pointer;
      &:hover {
        font-weight: 600;
      }
    }
  }

  .phone {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  a {
    color:#fff;
  }

  .social {
    margin-top:2em;
      a {
        display: inline-block;
        width:1.5em;
        height:1.5em;
        margin-right: 1.5em;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        &.vk {
          background-image:  url("/assets/img/vk.svg");
        }
        &.instagram {
          background-image:  url("/assets/img/instagram.svg");
        }
      }
  }

}
