
.form {
  max-width: 50%;

  margin:0 auto;
  box-shadow: 0px 34px 63px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding:1em 10%;
  box-sizing: border-box;
  &.white {
    background-color: #fff;
  }

  select,
  input[type="text"],
  input[type="email"] {
    width:100%;
    display:block;
    border:2px solid #EAEAEA;
    border-radius:8px;
    padding:2em;
    margin:1em 0;
    background-color: #fff;
    outline: none;
    &:focus {
      border-color:$blue-color;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    &:before {
      position: absolute;
      content: url("/assets/img/select.svg");
      z-index:100;
      right:5%;
      top:50%;
    }
    option {
      &:focus,&:active,&:hover {
        background-color: $blue-color;
      }
       padding:2em;
       line-height: 2em;
       display: block;
    }
  }

  .btn {
    width:100%;
    margin:1em auto;
  }


  label.checkbox {
    text-align: left;
    display: block;
    padding-left: 2em;
    position:relative;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      left:0;
      top:0;
      width:1em;
      height:1em;
      border:1px solid #EAEAEA;
      border-radius: 5px;
    }
  }

  input[type="checkbox"] {
    display: none;
    &:checked + label.checkbox:before {
      background: url("/assets/img/check.png") no-repeat 50% 50%;
    }

  }


}
