
.static-menu {
  position:fixed;
  left:0;
  top:0;

  height:100vh;
  z-index:100;
  background-color: #fff;
  .logo {
    padding:1em 0;
    border-bottom: 1px solid #F1F1F1;
  }

  .opened-only {
    display: none;
  }


  ul {
    &.registration {
      border-bottom: 1px solid #F1F1F1;
    }
    &.phone {
      border-top: 1px solid #F1F1F1;
    }
  }
  .content {
    padding:0 1em ;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  li {
    cursor: pointer;
    margin:1em 0;
    display: flex;
    align-items: center;
    font-size:0.9em;


    $icons: ("registration":"i-login.png","main": "i-main.png", "about": "i-about.png", "teacher": "i-teachers.png","entrance":"i-entrance.png","phone":"i-phone.png");
    .icon {
      $size:60px;
      width:$size;
      height:$size;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 1em;
      margin-left: 10px;
      @each $class, $icon in $icons {
        &.#{$class}:before {
          content:url("../assets/img/" + #{$icon});
        }
      }
    }
    &:hover {
      .icon {
        background: #6552FF;
        box-shadow: 0px 0px 14px rgba(101, 82, 255, 0.4);

        &:before {
          filter: brightness(0) invert(1);
        }
      }
      color: #6552FF;
    }
  }

  &:hover {
    .opened-only {
      display: inherit;
    }
  }

}

