@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
  }
}

$mobile-point: 425px;
$laptop-point: 1024px;

@mixin respond-to($media) {

  @if $media == mobile {
    @media only screen and (max-width: $mobile-point) { @content; }
  }

  @else if $media == laptop {
    @media only screen and (max-width: $laptop-point) { @content; }
  }


}
