
.section-3 {

  .subjects {

    .tile {
      display: inline-block;
      width:calc(100%/3);
      padding-top:30%;
      position: relative;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-size: cover;

      .container {
        position: absolute;
        bottom:15%;
        left:15%;
        .title {
          font-weight: 600;
        }
      }
      &.math {
        background-image: url("/assets/img/subjects/math.png");
      }
      &.history {
        background-image: url("/assets/img/subjects/history.png");
      }
      &.physic {
        background-image: url("/assets/img/subjects/physic.png");
      }
      &.chim {
        background-image: url("/assets/img/subjects/chim.png");
      }
    }

  }

  .btn {
    border: 1px solid $blue-color;
    margin-top:3em;
    padding-left:3em;
    padding-right:3em;
  }

}

.cat-section {
  background-color: #FFBF49;
  margin:5em 0;
  padding:2em 0;
  .title {
    font-weight: 600;
    font-size:1.5em;
    margin-bottom: 1em;
  }
  .container {
    display: flex;
    justify-content: space-between;
    p {
      width:70%;
    }

    .right {
      position:relative;
      &:before {
        content: url("/assets/img/cat.png") ;
        max-width: 224px;
        position: absolute;
        top:2px;
        left:50%;
        transform: translateY(-100%)  translateX(-50%);
      }
    }

  }
}
