.section-5 {
  background-color: #6F36D5;
  background-image:url("/assets/img/section5-bg.png") ;
  position: relative;
  padding-bottom: 2em;
  h2 {
    padding-top:1em;
  }
  &:after {
    content: "";
    display: block;
    width:12%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background:url("/assets/img/image-126.png") no-repeat 0 0  ;
    background-size: contain;
    z-index:100;
  }

  h2 {
    color:#fff;
  }
  .form-info {
    display: flex;
    width:100%;
    .list {
      background-color: #fff;
      width:60%;
      padding:2em;
      ul {
        font-size:1.2em;
        line-height: 3em;

        li {
          cursor: pointer;
          margin-left:50px;
          position: relative;
          &:hover {
            color:#665CD0;
            &:before {
              content: url("/assets/img/arrow-4.png");
              position: absolute;
              left:-50px;
              top:50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .info {

      padding:2em 4em;
      width:40%;
      background-color: #FFD28B;
      ul {
        padding-left: 20px;
        li {
          line-height: 1.5em;
          position: relative;
          margin-top:1em;
          &:before {
            position:absolute;
            content: url("/assets/img/vector.png");
            left:-40px;
            top:8px;
          }
        }
      }
      .icon {
        background-color: #fff;
        width:8em;
        height:8em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border:10px solid rgba(#FFD28B,0.7);
        margin:0 auto 3em;
        img {
          max-width: 100%;
        }
      }
    }
  }

}
