.section-4 {
  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .flip-card {
      width:33.33%;
      height:(1800px/3);

      .container {
        margin:20px;
        height:100%;
        border-radius: 10px;
        .icon  {
          img {
            position:relative;
            top:-20px;
            max-width: 100%;
          }
        }
      }

      .front {
        border-radius: 10px;
        .container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 3em;
          box-sizing: border-box;
          .title {
            padding:0 2em;
            font-size: 1.5em;
            font-weight: 600;
            &:after {
              content: url("/assets/img/arrow-7.png") ;
              margin-top:2em;
              display: block;
            }
          }
        }
      }

      .back {
        background-color: #fff;
        .container {
          color:#000;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 3em;
          box-sizing: border-box;
          text-align: left;
          .title {
            font-size: 1.2em;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1em;
          }
          p {
            margin-top:1em;
          }

        }
      }

      &:nth-child(1) .container {
        background-color:#D9ECF4;
        img {
          left:-20px;
        }
      }
      &:nth-child(2) .container {
        background-color:#EFF1FF;
      }
      &:nth-child(3) .container {
        background-color:#FFD28B;
      }

    }
  }
  .button {
    padding-top:3em;
  }

}
