.section-7 {
  background-color: #6F36D5;
  background-image:url("/assets/img/section7-bg.png") ;
  padding:2em 0;
  .aggree {
    font-size:0.8em;
  }
  .form {
    position: relative;
    &:after {
      position:absolute;
      content: "";
      width:20%;
      height:100%;
      background-image:url("/assets/img/image-120.png") ;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% bottom;
      right:-10%;
      bottom:0;
    }
  }
}
