
.section-2 {
  .header {
    display: flex;
    justify-content:space-between;
    padding:2em;
    align-items: center;
    border-bottom:1px solid  #9080D7;
    .logos {
      img {margin:0 2em;}
    }

  }
  .tiles {
    display: flex;
    flex-wrap: wrap;
    .flip-card {
      width:33%;
      height:(950px/3);
      .front {
        border:1px solid  #C7BFEB ;
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 3em;
        box-sizing: border-box;
        .icon  {
          padding:2em 0;
        }
      }

      .back {
        background-image: url(../assets/img/card-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: flex;
        align-items: center;
        padding:0 3em;
        box-sizing: border-box;
      }
    }
  }
}
