.section-9 {
  padding: 3em 0;
  background:url("/assets/img/section-9.svg")  no-repeat 50% 50%;
  .phone {
    font-size:2em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.2em;
  }
  .aggree {
    font-size:0.8em;
  }

}

