.section-6 {

  position: relative;
  &:before {
      position: absolute;
      content: "";
      display: block;
      width:20%;
      padding-top:20%;
      background: url("/assets/img/image-125.png") no-repeat;
      bottom:2%;
      left: 200px;

  }
  &:before {

  }
  .layer {
    padding:100% 0 0 0;
    position:relative;
    overflow: hidden;
  }
  .container {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
    text-align: center;
    margin: auto;
  }

  button {
    position:absolute;
    bottom:8%;
    left:0;
    right:0;
    margin: 0 auto ;
  }

  img {
    max-width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:  auto ;
  }

  .orbit {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    //border: 1px solid red;
    margin:auto auto;
    border-radius: 50%;
    &:before,
    &:after {
      display: block;
      position:absolute;
      content: "";
      border-radius: 50%;
    }
    z-index: 0;
  }

  .orbit0 {
    width:60%;
    height:60%;
    background-color: #EFF1FF;
  }
  .orbit1 {
    width:65%;
    height:65%;
    animation:spin-right 5s linear infinite;
    &:after {
      width:2%;
      height:2%;
      background-color: #ff7a5c;
      left:50%;
      top:0;
    }
    &:before {
      width:3%;
      height:3%;
      background-color: #6F36D5;
      left:10%;
      top:13%;
    }
  }

  .orbit2 {
    width:80%;
    height:80%;
    animation:spin-right 10s linear infinite;
    &:after {
      width:1%;
      height:1%;
      background-color: #FDA34F;
      left:50%;
      top:0;
    }

  }
  .orbit3 {
    width:95%;
    height:95%;
    animation:spin-right 18s linear infinite;
    &:after {
      width:4%;
      height:4%;
      background-color: #BFA7D7;
      left:50%;
      top:0;
    }

  }
}


