.section-1 {
  position:relative;
  height:100vh;
  background-image: url(../assets/img/section-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  .container {
    width:60%;
    margin-left: calc(5% + 100px);
    padding-top:5%;
  }
  .subtitle {
    display: inline-block;
    color:#FDC641;
    padding-bottom: 0.5em;
    border-bottom:1px solid #FDC641;
  }
  .title {
    font-weight: 600;
    font-size:4em;
    color:#fff;
    line-height: 1.2em;
    margin:0.5em 0;
  }

  ul {
    color:#fff;
    font-size:1.2em;
    li {
      line-height:2em;

      &:before{
        content:url('../assets/img/arrow.svg');
        margin-right:0.7em;
      }

    }
  }
  .btn {
    margin-top:3em;
  }

  .arrow {
    position:absolute;
    bottom:5%;
    left:50%;
    animation: move_up_down 1000ms  ease-in-out infinite ;
    &:before{
      content: url('../assets/img/arrow-scroll.svg');
    }
  }
}
