.section-8 {
  padding-bottom: 3em;
  ul {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    counter-reset: step;
    li {
      width:50%;
      position: relative;
      counter-increment: section;
      box-sizing: border-box;
      display: flex;
      margin:2em 0;
      padding:0 4%;
      line-height: 1.5em;
      align-items: center;
      font-size:1.1em;
      &:before {
        content: counter(section) ".";
        font-size:2em;
        font-weight: 100;
        color:$blue-color;
        flex-grow: 0;
        margin-right:1em;
        text-align: center;
        width:1em;
        padding-top:1em;
        padding-bottom:1em;
        padding-left:4em;
        background: url("/assets/img/step1.svg") no-repeat 0 center;
        background-size: contain;
      }
    }
  }
}
