include mixin.pug
html
    title Заголовок
    link(rel='stylesheet', href='style/main.scss')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    body
        include menu.pug

        section.section-1
            .container
                .subtitle Открыт набор на 2020/2021 учебный год!
                h1.title Школьное образование <br/>онлайн с 5 по 11 класс

                ul
                    li Выдаем аттестат государственного образца
                    li Индивидуальный подход к каждому ученику
                    li Лучшие преподаватели страны
                button.btn.orange   Бесплатная консультация
                .arrow

        section.section-2
            .content
                .header
                    .description
                        | Образовательная программа  утверждена Министерством<br/> образования и науки Российской Федерации
                    .logos
                        img(src='assets/img/emblem-rf.png')
                        img(src='assets/img/emblem-fipi.png')
                h2 Школа у вас дома!
                .subtitle Учитесь везде где есть интернет 12 месяцев в году
                .tiles.flipped
                    +flipcard("i-attestat.png","Аттестат государственного образца","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")
                    +flipcard("i-rocket.png","Эффективный путь к поступлению в лучшие ВУЗы","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")
                    +flipcard("i-list.png","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру.","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")
                    +flipcard("i-list.png","Эффективный путь к поступлению в лучшие ВУЗы","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")
                    +flipcard("i-chart.png","Эффективный путь к поступлению в лучшие ВУЗы","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")
                    +flipcard("i-note.png","Эффективный путь к поступлению в лучшие ВУЗы","У каждого ученика есть свой куратор, который постоянно на связи - по телефону или мессенджеру. Психолог и весь преподавательский состав тоже ввсегда готовы помочь.")



        .cat-section
            .content
                .description
                    .title  Новый учебный год уже скоро!
                    .container
                        p  Присоединяйтесь к дружной семье Школеджа и начните учиться из дома уже с сентября! Свяжитесь с нами и консультант подскажет как перевестись в школедж и ответит на все вопросы!
                        .right
                            button.btn.white Бесплатная консультация

        section.section-3
            .content
                h2 Кто учит?
                .subtitle  Эксперты ЕГЭ и ОГЭ, преподаватели ведущих ВУЗов, составители и участникки жюри олимпиад,</br> обладатели научных степеней и профессиональных наград
                .subjects.tiles.wide
                    .tile.math
                        .container
                            .title Математика
                    .tile.chim
                        .container
                            .title Химия
                    .tile.math
                        .container
                            .title Математика

                    .tile.chim
                        .container
                            .title Химия
                    .tile.history
                        .container
                            .titl История
                    .tile.physic
                        .container
                            .title Физика
                .center
                    button.btn.white Все учителя


        section.section-4

            .content
                h2 Кого учим?
                .tiles.flipped
                    +flipcard2("image-117.png","Кто сейчас за границей")
                        p Ребенок обгоняет или отстает от программы обычной школы?
                        p Вас не устраивает качество образования вашей школы?
                        p Не нравится школьный контингент или преподавательский состав?
                        p Родители вынуждены часто переезжать?

                    +flipcard2("image-117.png","Кто на семейном обучении")
                        p Ребенок обгоняет или отстает от программы обычной школы?
                        p Вас не устраивает качество образования вашей школы?
                        p Не нравится школьный контингент или преподавательский состав?
                        p Родители вынуждены часто переезжать?

                    +flipcard2("image-118.png","Кто вынужден пропускать занятия")
                        p Ребенок обгоняет или отстает от программы обычной школы?
                        p Вас не устраивает качество образования вашей школы?
                        p Не нравится школьный контингент или преподавательский состав?
                        p Родители вынуждены часто переезжать?

                .button.center
                    button.btn.blue.shadow Поступить в школу

        section.section-5
            .content
                h2 Как  учим?
                .form-info
                    .list
                        ul
                            li Интерактивный класс
                            li Работа на уроке
                            li Тренажер после урока
                            li Домашнее задание
                            li Точки контроля знаний
                            li Индивидуалки и спецкурсы
                    .info

                        .icon
                            img(src="/assets/img/info-icon.png")
                        ul
                            li Разбор материала на вебинаре.
                            li  Интерактивная доска, сопровождающий конспект-презентация, двусторонняя аудио/видео связь, чат.
                            li Сохраненная запись вебинара - всегда можно вернуться и посмотреть.


        section.section-6
            .content
                .layer
                    .container
                        h2 Как это работает?
                        .subtitle Короткое видео о том, как учатся в школедже
                        img(src="/assets/img/form-layer.png")
                        button.btn.blue.shadow  Бесплатная консультация
                    .orbit.orbit0
                    .orbit.orbit1
                    .orbit.orbit2
                    .orbit.orbit3


        section.section-7
            .content
                .form.white
                    h2 Сколько
                    .subtitle Заполните форму и мгновенно расчитайте персональную стоимость обучения
                        input(placeholder="Email" type="email")
                        input(placeholder="Телефон" type="text")
                        input(placeholder="Имя" type="text")
                        input(placeholder="Класс" type="text")
                        button.btn.blue.shadow Рассчитать
                        input(type="checkbox" id="aggree")
                        label.checkbox.aggree(for="aggree") Принимаю условия <a href="#">соглашения</a> и <a href="#">политики конфиденциальности</a>


        section.section-8
            .content
                h2 Как поступить?
                ul.steps
                    li Рассчитать стоимость на сайте или личном кабинете
                    li Оплатить обучение
                    li Подготовить документы и перейти на семейную форму обучения
                    li Получить на руки личное дело ученика
                    li Прислать нам документы на проверку
                    li Вы зачислены!
                .center
                    button.btn.white.border.wide Подробнее, по шагам



        section.section-9
            .content

                .form.white
                    h2 Остались вопросы?
                    .subtitle Позвоните - и мы на них ответим!
                    .phone 8-903-777-77-77
                    .subtitle Или оставьте свои контакты и мы перезвоним
                    input(placeholder="Email" type="email")
                    input(placeholder="Телефон" type="text")
                    input(placeholder="Имя" type="text")
                    input(placeholder="Класс" type="text")
                    button.btn.blue.shadow Перезвонить мне
                    input(type="checkbox" id="aggree-1")
                    label.checkbox.aggree(for="aggree-1") Принимаю условия <a href="#">соглашения</a> и <a href="#">политики конфиденциальности</a>

        footer
            .col.about
                img.logo(src="assets/img/footer-logo.svg")
                .copyrate © Shkollege.ru.2020
            .col.menu
                ul
                    li Главная
                    li О школе
                    li Учителя
                    li Поступления
                    li FAQ
            .col.docs
                ul
                    li Документы
                    li Соглашение о пользовании сайтом
                    li Обработка персональных данных

            .col
                .phone  8-903-777-77-77
                a.mail(href="mailto:welcome@shkolege.ru") welcome@shkolege.ru
                .social
                    a.vk(href="#")
                    a.instagram(href="#")


