
.static-menu
    .content
        .logo
            img(src="assets/img/logo.png")
        ul.registration
            li(title="Вход/регистрация")
                .icon.registration
                .opened-only Вход/регистрация

        ul.menu
           li(title="Главня")
                .icon.main
                .opened-only  Главня
           li(title="О школе")
                .icon.about
                .opened-only  О школе
           li(title="Учителя")
                .icon.teacher
                .opened-only  Учителя
           li(title="Поступление")
                .icon.entrance
                .opened-only  Поступление
        .bottom
            button.btn.blue.shadow.center.opened-only Поступить в школу


            ul.phone
               li(title="Телефон")
                    .icon.phone
                    .opened-only 8-903-777-77-77

