mixin flipcard(image,front, back)
    .flip-card
        .inner
            .front
               .icon
                   img(src="/assets/img/"+image)
               .title
                   =front
            .back
               = back

mixin flipcard2(image,title)
    .flip-card
        .inner
            .front
                .container
                    .icon
                        img(src="/assets/img/"+image)
                    .title
                        =title
            .back
                .container
                    .title
                        =title
                    block


